.box {
    height:100px;
    width:100px;
    background-color: aliceblue;
    border:1px solid black;
    border-radius: 0.5rem;
    font-size: 3rem;
    color:red;
}

.change {
    color:green;
}

.game {
    
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2px;
    
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reset,#new {
    background-color: black;
    color:white;
    border:none;
    padding:15px;
    margin-top: 10px;
}

#msg {
    font-size:2rem;
}

.hide {
    display:none;
}